body {
  font-family: "Georgia", serif;
  background-color: #f7f4ef;
  color: rgb(48, 45, 45);
  margin: 0;
}

nav {
  background-color: #3d4c61;
  padding: 12px;
}

nav a {
  color: #f0f4f8;
  text-decoration: none;
  margin-right: 12px;
}

img {
  max-width: 300px;
  height: auto;
  display: block;
  margin-top: 20px;
}