<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}AJ's Website{% endblock %}</title>
  </head>
  <body>
    <!--
    # Code adapted with assistance from ChatGPT (January 2026).

    # Prompt: "How do I reference a variable from one function in another function in Django views"

    # Student review: I was given advice on how to refer to other htmls and I understand it a lot better now.
    --> 

    <header>
      <h2>My Capstone</h2>

      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
      </nav>

    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
